@import "tailwindcss";

@theme {
  --color-Green400: hsl(172, 67%, 45%);

  --color-Green900: hsl(183, 100%, 15%);
  --color-Grey500: hsl(186, 14%, 43%);
  --color-Grey400: hsl(184, 14%, 56%);
  --color-Grey200: hsl(185, 41%, 84%);
  --color-Grey50: hsl(189, 47%, 97%);
  --color-White: hsl(0, 100%, 100%);
  --color-hover-color: #8bebd2;
}

body {
  font-family: "Space Mono", monospace;
}
